.about-container {
  width: 382px;
  background: var(--dark-mode);
  padding: 75px 45px 97px 45px;
  border-top: 2px solid var(--pink);
}
.header {
  background: linear-gradient(to right, var(--pink), var(--blue));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 25px;
  font-size: 25px;
  padding: 10px 15px;
}
.about-text {
  color: var(--blue-01);
  font-family: "Montserrat", sans-serif;
}
.icon-container {
  display: flex;
  gap: 4%;
}

.icon-container img {
  /* transform: scale(1);
  transition: transform 0.3s ease; */
  width: 8%;
}
.figma {
  height: 25px;
}
/* .icon-container img:hover {
  transform: scale(1.2);
} */
.skills {
  margin-top: 35px;
  margin-bottom: 35px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate-infinite {
  animation: rotate 2s linear infinite;
}
.rotate-infinite-01 {
  animation: rotate 15s linear infinite;
}
.rotate-infinite-02 {
  animation: rotate 10s linear infinite;
}
