.footer {
  width: 100%;
  height: auto;
  background: var(--blue);
  padding: 15px 20px;
  border-top: 1px solid transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--slate-blue),
    rgba(0, 0, 0, 0)
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 top;
}
.number {
  color: var(--white);
  margin-bottom: 7px;
}
.mail {
  color: var(--white);
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.border {
  height: 2px;
  width: 100%;
  background-color: var(--pink);
  margin-bottom: 15px;
}
.contactLinks {
  display: flex;
  align-items: center;
  gap: 7px;
}
.text {
  color: var(--white);
  font-size: 12px;
  font-family: "Satisfy", cursive;
}
.love,
.coffee {
  color: var(--purple);
}

@media (min-width: 550px) {
  .contact div {
    font-size: 16px;
  }
  .contactLinks {
    gap: 15px;
  }
  .contactLinks a img {
    width: 40px;
    height: 40px;
  }
}
