.footer {
  width: 382px;
  height: auto;
  background-color: var(--black);
  padding: 15px 20px;
  border-top: 1px solid var(--pink);
}
.number {
  color: var(--white);
  margin-bottom: 7px;
}
.mail {
  color: var(--white);
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.border {
  height: 2px;
  width: 100%;
  background-color: var(--pink);
  margin-bottom: 15px;
}
.contactLinks {
  display: flex;
  align-items: center;
  gap: 7px;
}
.text {
  color: var(--white);
  font-size: 12px;
}
.love {
  color: var(--pink);
}
.coffee {
  color: var(--blue);
}
