* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Satisfy", cursive;
}
:root {
  scroll-behavior: smooth;

  --black: #000000;
  --black--01: rgba(0, 0, 0, 0.4);
  --black-02: #000000e3;
  --grey: #909090;
  --dark-mode: #191919;
  --blue-01: #575a8f;
  --white: #fff;
  --purple-01: #8c6bbc;
  --purple: #6919ff;
  --gardient-color: linear-gradient(to right, var(--purple), var(--purple-01));

  --blue: #090a20;
  --blue-02: #09091e;
  --slate-blue: #2e364f;
}
