* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
:root {
  scroll-behavior: smooth;
  --black: #000;
  --black--01: rgba(0, 0, 0, 0.4);
  --black-02: #000000e3;
  --grey: #909090;
  --dark-mode: #191919;
  --blue-01: #42446e;
  --white: #fff;
  --pink: #e70faa;
  --blue: #00c0fd;
  --gardient-color: linear-gradient(to right, var(--pink), var(--blue));
}
